* {
    padding: 0;
    margin: 0;
}

/* FONT */

@font-face {
    font-family: silomBol;
    src: url("../fonts/SilomBol.ttf");
}

@font-face {
    font-family: moonrocks;
    src: url("../fonts/RubikMoonrocks-Regular.ttf");
}

@font-face {
    font-family: normalText;
    src: url("../fonts/PatrickHand-Regular.ttf");
}

html, body {
    background-image: url("../images/bgDesktopOpacity.png");
    background-position: center;
    background-repeat: repeat;
    max-width: 100vw;
    overflow-x: hidden;
}

.main-div {
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    display: grid;
    grid-template-rows: 8% 50% auto;
}

.grid-row-one {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}

.grid-row-one-column-one {
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-row-one-column-two {
    display: grid;
    grid-template-columns: 50% 50%;
}

.english-link {
    color: white;
}

.instagram {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: normalText;
    font-size: 2vw;
    color: white;
}

.instagram-link {
    color: white;
    text-decoration: none;
}

.grid-row-two {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid-row-two-custom {
    text-align: center;
}

.gamebase-title {
    font-size: 11vw;
    padding-top: 0;
    font-family: moonrocks;
    color: gainsboro;
}


.grid-row-three {
    display: grid;
    grid-template-columns: 23vw 23vw 23vw 23vw;
    justify-content: space-evenly;
}


.grid-three-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-grid {
    height: 60%;
    width: 90%;
    display: grid;
    grid-template-rows: 30% 70%;
    text-decoration: none;
    color: black;
    border: 3px solid white;
    border-radius: 25px;
    font-family: normalText;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

.link-grid:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.link-heading {
    display: flex;
    align-items: center;
    font-size: 2vw;
    padding: 1vw;
    border-bottom: 3px solid white;
}

.link-desc {
    display: flex;
    align-items: top;
    font-size: 1.5vw;
    padding: 1vw;
}

.main-div-pages {
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    display: grid;
    grid-template-rows: 10vw auto 8vw;
    overflow-y: scroll;
}

.pages-row-one {
    display: grid;
    justify-content: center;
    align-items: center;
}

.pages-heading {
    font-family: normalText;
    color: white;
    font-size: 5vw;
}

.pages-home {
    font-family: normalText;
    color: white;
    font-size: 2.5vw;
    text-decoration: underline;
}

.pages-row-two {
    display: grid;
    grid-template-columns: 20% auto 20%;
}

.pages-text-div {
    text-align: center;
}

.pages-games-div {
    text-align: center;
    display: grid;
    grid-template-rows: 24% 24% 24% 24%;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 1%;
    row-gap: 3%;
}

.game-one, .game-three, .game-two, .game-four, .game-five, .game-six, .game-seven, .game-eight, .game-nine, .game-ten, .game-eleven .game-twelve .game-thirteen, .game-fourteen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-icon-image {
    border-radius: 25px;
    width: 12vw;
    height: 12vw;
    border: 2px solid white;
}

.game-title {
    font-family: normalText;
    color: white;
    font-size: 1.8vw;
}

.game-link {
    text-decoration: none;
}

.pages-text {
    font-family: normalText;
    color: white;
    font-size: 1.8vw;
}

.email-input {
    margin-top: 10px;
    text-align: center;
    font-family: normalText;
    width: 33vw;
    height: 4vh;
    font-size: 1.5vw;
    border: 2px solid white;
    border-radius: 10px;
    background-color: gainsboro;
    color: gray;
}

.email-input:focus {
    outline: none;
}

.submit-email-button {
    margin-top: 2vh;
    width: 6vw;
    height: 5vh;
    background-color: gainsboro;
    text-align: center;
    font-family: normalText;
    color: gray;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.5vw;
}

.submit-email-button:active {
    background-color: rgb(183, 183, 183);
}

.submit-email-button:hover {
    cursor: pointer;
}


.pages-text-underline {
    font-family: normalText;
    color: white;
    font-size: 1.8vw;
    text-decoration: underline;
}

.pages-row-three {
    display: grid;
    justify-content: center;
    align-items: center;
}

.privacy-policy-link {
    color: white;
    font-family: normalText;
}

.privacy-policy-link {
    margin-bottom: 2vw;
}

@media screen and (orientation: portrait) {

    .main-div {
        min-height: 100vh;
        min-width: 100vw;
        max-width: 100vw;
        display: grid;
        grid-template-rows: 8% 15% auto;
    }


    .gamebase-title {
        font-size: 14vw;
    }

    .grid-row-three {
        display: grid;
        grid-template-rows: 23% 23% 23% 23%;
        grid-template-columns: none;
        justify-content: normal;
        align-content: space-evenly;
    }

    .grid-three-row {
        display: grid;
        align-items: normal;
        justify-content: normal;
        justify-items: center;
    }

    .link-grid {
        height: 90%;
        width: 65%;
        display: grid;
        grid-template-rows: 30% 70%;
        text-decoration: none;
        color: black;
        border: 3px solid white;
        border-radius: 25px;
        font-family: normalText;
        color: white;
        text-align: center;
    }

    .link-heading {
        display: grid;
        align-content: center;
        font-size: 7vw;
        padding: 1vw;
        border-bottom: 3px solid white;
    }
    
    .link-desc {
        display: flex;
        align-items: top;
        justify-content: center;
        font-size: 6.5vw;
        padding: 1vw;
        text-align: center;
    }

    .grid-row-one {
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
    }
    
    .grid-row-one-column-one {
        display: grid;
        grid-template-columns: 100% 0%;
    }
    
    .instagram {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: normalText;
        font-size: 6vw;
        color: white;
    }
    
    .instagram-link {
        color: white;
        text-decoration: none;
    }

    .pages-heading {
        font-size: 12vw;
    }
    
    .pages-home {
        font-family: normalText;
        color: white;
        font-size: 7vw;
        text-decoration: underline;
    }

    .pages-text, .pages-text-underline {
        font-size: 5.5vw;
    }

    .pages-row-two {
        display: grid;
        grid-template-columns: 10% auto 10%;
    }

    .pages-games-div {
        text-align: center;
        display: grid;
        grid-template-rows: 11% 11% 11% 11% 11% 11% 11% 11%;
        grid-template-columns: 44% 44%;
        column-gap: 12%;
        row-gap: 2%;
    }
    
    .game-icon-image {
        border-radius: 25px;
        width: 28vw;
        height: 28vw;
    }
    
    .game-title {
        font-family: normalText;
        color: white;
        font-size: 4.5vw;
    }
    
    .game-link {
        text-decoration: none;
    }

    .main-div-pages {
        grid-template-rows: 15vh auto 13vh;
    }

    .email-input {
        width: 75vw;
        font-size: 3vh;
    }

    .submit-email-button {
        width: 30vw;
        height: 5vh;
        font-size: 3vh;
    }
}

